* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff1c1;
}

/* top div */

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top h2,h1 {
    color: #000;
    text-align: center;
    padding: 2em;
}


/* object div */

.objects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: #fbfbfb;
    padding: 2em;
}

.objects h2 {
    color: #fff;
}

#rock,#paper,#scissors {
    width: 200px;
    height: 200px;
    transition: 0.2s; 
}

#rock:hover,#paper:hover,#scissors:hover {
    transform: scale(1.1); 
}

/* score div */

#score {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* text-align: center; */
   color: #000;
   padding: 2em;
}

.para {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

#para-one,#para-two {
    text-align: center;
    border: solid 2px #000;
    border-radius: 10px;
    margin: 1em 0em;
    padding: .5em;
}



/* footer */

.footer {
    background: #fbfbfb;
    margin-top: auto;
}

.footer p {
    text-align: center;
    padding: 2.5em;
    font-weight: 550;
}
