* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
}

/* top div */

.top h1,h2 {
    color: #fff;
    text-align: center;
    padding: 2em;
}

/* object div */

.objects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.objects h2 {
    color: #fff;
}

.rock,.paper,.scissors {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.rock:hover,.paper:hover,.scissors:hover {
    transform: scale(1.1);
}

/* score div */

.score {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   padding: 2em;
}

.para {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12em;
}


/* footer */

.footer {
    background: gray;
    margin-top: auto;
}

.footer p {
    text-align: center;
    padding: 2.5em;
}